<!DOCTYPE html>
<html>
  <head>
  <%- include('head',{}) %>
  <style>
    .layui-table{
      margin: 50px auto;
      width: 1000px;
    }
  </style>
  </head>
  <body>
    <%- include('header',{ userName }) %>

    <table class="layui-table" lay-skin="line">
      <colgroup>
        <col width="60">
        <col width="60">
        <col width="80">
        <col width="200">
        <col width="80">
      </colgroup>
      <thead>
        <tr>
          
          <th>id</th>
          <th>用户名</th>
          <th>时间</th>
          <th>内容</th>
          <th>操作</th>
         
        </tr> 
      </thead>
      <tbody>
        <% data.map(item =>{ %>
        <tr>
          

            
          <td>
              0
          </td>
          <td><%= item.title %></td>
          <td><%= item.date %></td>
          <td><%= item.content %></td>
          <td>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
          
        </tr>
        <% }) %>
      </tbody>
    </table>  
  </body>
</html>
