<!DOCTYPE html>
<html>

<head>
  <%- include('head',{}) %>
    <style>
      .layui-table {
        margin: 50px auto;
        width: 1000px;
      }
      .layui-table .fy-list{
        height: 60px;
        
      }
      .layui-table li{
        display: inline-block;
        height: 100%;
        text-align: center;
      }
    </style>
</head>

<body>
  <%- include('header',{ userName }) %>

    <div class="layui-table" lay-skin="line">
      <ol class="fy-list">
        <li>id</li>
        <li>用户名</li>
        <li>时间</li>
        <li>内容</li>
        <li>操作</li>
      </ol>
      <% data.blogList.map(item=>{ %>
      <ul class="fy-list" style="width: 100%;">
          
            
          <li style="width:80px;">
            0
          </li>
          <li style="width:120px;">
            <span>
              <a href="/details?_id=<%= item._id%>"><%= item.title %></a>
              
            </span>
            
          </li>
          <li style="width:300px;">
            <span>
              <%= item.date %>
              
            </span>
          </li>
          <li style="width:400px;"> 
            <span>
              <%- item.content %>
            </span>
          </li>
          <li style="width:80px;">
            <span>
              <a href="/write?_id=<%= item._id %>&page=<%= data.currPage %>">编辑</a>
              <a href="">删除</a>
            </span>
            
          </li>
          
      </ul>
      <% }) %>
    </div>
      <div id="">
        <div class="black-red">
          <span class="disabled">&lt; </span>
          <% for(let i=1; i <=data.Pagestotle; i++){ %>

            <a href="/index?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
              <%= i %>
            </a>
            <% } %>
              <a href=""> &gt; </a>
        </div>
      </div>
      <!-- <div id="demo0">

    </div> -->
</body>
<script src="libs/layui/layui.js" charset="utf-8"></script>
<script>
  //   layui.use(['laypage', 'layer'], function(){
  //     var laypage = layui.laypage
  //     ,layer = layui.layer;

  //     //总页数低于页码总数
  //     laypage.render({
  //       elem: 'demo0',count: 50 //数据总数
  //     });
  //   })
  //   laypage.render({
  //   elem: 'demo0',
  //   count: data.length,
  //   jump: function(obj){
  //     //模拟渲染
  //     document.getElementById('biuuu_city_list').innerHTML = function(){
  //       var arr = []
  //       ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
  //       layui.each(thisData, function(index, item){
  //         arr.push('<li>'+ item +'</li>');
  //       });
  //       return arr.join('');
  //     }();
  //   }
  // });
</script>

</html>